<div class="container py-4 form">
  <h1 data-dark-target="dark">Add a list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label:"Name of your list", label_html: { data: {dark_target:"dark"}} %>
    <%= f.input :photo, as: :file, label:"Photo representing your list", label_html: { data: {dark_target:"dark"}} %>
    <%= f.button :submit, class: "btn btn-flat" %>
  <% end %>
</div>
