.form h1{
  color:black;
  font-size: 32px;
}

.form h1.dark {
  color:white;
}

.form label{
  color:black;
}

.form label.dark {
  color:white;
}

.modal-link {
  color: black;
  margin-bottom: 20px;
  font-style: italic;
}

.modal-link.dark {
  color: white;
}

.modal-link a {
  color: #e50914;
  text-decoration: underline;
}
