.mynavbar {
  justify-content: space-between;
  height:60px;
  background-color: white;
}

.mynavbar.dark {
  background-color: black;
}

.mynavbar img{
  width:100px;
}

.nav-text {
  padding: 8px;
  color:black;
  font-family: 'Open Sans', sans-serif;
}

.nav-text.dark {
  color:white;
}
