.fa-plus-square {
  font-size: 40px;
  color: black;
}

.fa-plus.pluslist {
  font-size: 48px;
  color: black;
}

.fa-plus.plusmovie {
  font-size: 64px;
  color: black;
}

.fa-plus-square.dark {
  color: white;
}

.fa-plus.pluslist.dark {
  color: white;
}

.fa-plus.plusmovie.dark {
  color: white;
}
