<div class="mynavbar container d-flex align-items-center justify-content-between" data-dark-target="dark">
  <%= link_to root_path, class:"navbar-brand" do %>
    <%= image_tag("CLEMFLIX.svg") %>
  <% end %>
  <div class="d-flex align-items-center">
    <span class ="nav-text" data-dark-target="dark">Dark Mode</span>
    <label class="switch"><input type="checkbox" data-action="click->dark#switchDark"  data-dark-target="switch"><span class="slider round"></span></label>
  </div>
</div>
